bwk_habitat.cpg
bwk_habitat.dbf
bwk_habitat.prj
bwk_habitat.sbn
bwk_habitat.sbx
bwk_habitat.shp
bwk_habitat.shp.xml
bwk_habitat.shx
ecosysteemkaart_niv2_2022_v13.tfw
ecosysteemkaart_niv2_2022_v13.tif
ecosysteemkaart_niv2_2022_v13.tif.aux.xml
ecosysteemkaart_niv2_2022_v13.tif.vat.cpg
ecosysteemkaart_niv2_2022_v13.tif.vat.dbf
ecosysteemkaart_niv2_2022_v13.tif.xml
toekomstlaag.cpg
toekomstlaag.dbf
toekomstlaag.prj
toekomstlaag.sbn
toekomstlaag.sbx
toekomstlaag.shp
toekomstlaag.shp.xml
toekomstlaag.shx
watersysteem_finaal.tfw
watersysteem_finaal.tif
watersysteem_finaal.tif.aux.xml
watersysteem_finaal.tif.ovr
watersysteem_finaal.tif.vat.cpg
watersysteem_finaal.tif.vat.dbf
